.input-group {
  margin: 20px 0;
}

.table {
  margin-bottom: 60px !important;
}


td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

td:first-of-type {
  height: auto;
  width: 250px;
}
